:root {
    --menu-color: #C1F3FD;
}

.background {
    background-image: url('/media/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: var(--footer-height);
    width: 100%;
}

.img-logo {
    width: 15.5rem;
    height: 3.5rem;
}

.img-menu {
    width: 3.5rem;
    height: 3.5rem;
}

.menu-color {
    background-color: var(--menu-color);
}

.img-welcome {
    width: 12.5rem;
    height: 12.5rem;
}

.setting-icon {
    font-size: 48px;
}

.menu-top {
    border-bottom: solid 1px black;
    position: fixed;
    top: 0;
    z-index: 10;
}

.menu-bottom {
    border-top: solid 1px black;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

@media (max-width: 767px) {
    .menu {
        border-right: 0px solid black;
        border-top: 1px solid black;
    }
}

.avatar {
    width: 3rem;
    height: 3rem;
}

.avatar-edit {
    cursor: pointer;
}

input[type="file"] {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}
