:root {
    --menu-color: #C1F3FD;
}

.background {
    background-image: url('/media/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: var(--footer-height);
    width: 100%;
}

.img-menu {
    width: 4.5rem;
    height: 4.5rem;
}

.translucid {
    background-color: var(--menu-color);
}

.img-welcome {
    width: 26.5rem;
    height: 26.5rem;
}

.page-title {
    padding: 5px;
    text-align: center;
    width: 100%;
    text-align: center;
}

.setting-icon {
    font-size: 48px;
}

.menu {
    border-right: solid 1px black;
}

@media (max-width: 767px) {
    .menu {
        border-right: 0px solid black;
        border-bottom: 1px solid black;
    }
}

.avatar {
    width: 3rem;
    height: 3rem;
}

.avatar-edit {
    cursor: pointer;
}
